body {
  background: linear-gradient(154deg, blue, #d82e2e, #ca619e);
}

.barnesang {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(154deg, blue, #d82e2e, #ca619e);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
}

.cards {
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px;
}

.cards img {
  width: 100%;
  height: auto;
}

.cardContent h3 {
  margin: 15px 0px;
  font-size: 28px;
  color: aquamarine;
  font-family: sans-serif;
}

.cardContent p {
  font-size: 15px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: white;
}

footer {
  margin-top: 1em;
  font-size: 1rem;
}
button {
  width: 8rem;
  height: 2.5rem;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 8rem;
  box-shadow: 2px 4px 11px red;
  position: absolute;
  top: 50px;
  left: 50px;
}

@media (min-width: 150px) and (max-width: 650px) {
  .cardContainer {
    width: 80%;
  }
  .barnesang {
    padding: 0px 0px;
  }
}
